@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../../fonts/Roboto-Regular.woff") format("woff"),
    url("../../fonts/Roboto-Regular.ttf") format("truetype"),
    url("../../fonts/Roboto-Regular.svg#Roboto") format("svg");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../../fonts/Roboto-Medium.woff2") format("woff2"),
    url("../../fonts/Roboto-Medium.woff") format("woff"),
    url("../../fonts/Roboto-Medium.ttf") format("truetype"),
    url("../../fonts/Roboto-Medium.svg#Roboto") format("svg");
}
